@mixin close-button {
    position: absolute;
    top: 0px;
    right: 25px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
   // text-shadow: 1px 1px 1px #666;
    &:hover {
        color: rgb(0, 0, 0);
        text-decoration: none;
        cursor: pointer;
        transform: scale3d(1.1, 1.1, 1.1) rotate(1080deg);
    }
    &:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
}
@mixin normal-style-button {
    & button {
        margin-left: 5px;
        margin-bottom: 3px;
        padding: 2px 8px 2px 8px;
        font-style: italic;
        font-size: 13px;
        color: #000;
        &:hover {
            transform: scale(1.2);
            transition-duration: 0.25s;
            text-decoration: none;
            color: $normalStyleButton
        }
    }
}
