@import "../utilities/mixins";
@import "../utilities/variables";
@import "../layout/buttons";

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image: radial-gradient(
        ellipse farthest-corner at 0 110%,
        $websiteBgColor1 0%,
        $websiteBgColor2 71.5%,
        $websiteBgColor3 70%
    );
    background-color: rgba(74, 148, 214, 0.9);
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100%;
    width: 100%;
}

#indexB {
    min-height: 100vh;
    & #divOnTop {
        @include floatingDiv;
        & #closeButton {
            @include close-button;
        }
    }
    & #registerInfo {
        display: flex;
        flex-direction: column;
        height: auto;
        background: $formBackground;
        border-radius: 6px;
        padding: 15px;
        & label {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 14px;
        }
        & div {
            margin-bottom: 5px;
        }
        & input {
            border-radius: 6px;
        }
        & button {
            margin-bottom: 30px;
        }
    }
}
#credentials {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    &:hover {
        color: #9d9d9d;
    }
}

#searchInputDiv {
    & div:first-child {
        width: 39px;
    }
    & #searchInput {
        height: 33px;
        border-radius: 0px;
        width: 170px;
    }
    & ul {
        position: absolute;
        width: 263px;
        top: 33px;
        & li {
            text-align: left;
            width: 100%;
            & a {
                color: #000;
                &:hover {
                    transition-duration: 0.25s;
                    text-decoration: none;
                    color: $normalStyleButton;
                }
            }
        }
    }
    & select {
        width: 93px;
        height: 33px;
    }
}
.tox.tox-tinymce {
    height: 250px !important;
}
