#footerB {
  font-size: 16px;
  bottom: 0px;
  box-sizing: border-box;
  margin: 0px;
  display: block;
  height: auto;
  background: radial-gradient(circle, rgba(78, 149, 211, 0.1) 0%, rgba(49, 109, 194, 0.6) 0%, rgba(78, 149, 211, 0.1) 100%);
  position: absolute;
  width: 100%;
  & p {
    padding-top: 5px;
    margin-top: 5px;
    line-height: 16px;
  }
}
footer{
  bottom:0px;
  font-size: 14px;
  background: radial-gradient(circle, rgba(78, 149, 211, 0.1) 0%, rgba(49, 109, 194, 0.6) 0%, rgba(78, 149, 211, 0.1) 100%);
}