@mixin commentFormFormat {
    & form {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        & .labelDiv {
            display: flex;
            //justify-content: space-between;
            font-size: 13px;
            flex-direction: row;
            z-index: 1;
            cursor: pointer;
            & i{
                margin-top: 3px;
                margin-right: 10px;
            }
            @include normal-style-button;
            & span{
                align-self: flex-end;
                margin-left: auto;
                padding: 0;
                margin-bottom: 3px;
            }
        }
        & label {
            font-weight: 200;
            &:hover{
                cursor: pointer;
            }
        }
        & #comInputArea {
            opacity: 0;
            & textarea {
                display: none;
                width: 100%;
                resize: none;
                overflow-y: auto;
                padding-left: 10px;
                padding-right: 10px;
                overflow: hidden;
            }
        }
        & .commentButtonDiv {
            height: auto;
            padding: 0;
            margin: 3px 0 3px 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            @include normal-style-button;
        }
    }
}
#searchOption{
    width: auto;
    float: left;
}
#searchInput{
    width: auto;
    
}