@media only screen and (max-width: 991px) and (min-width: 480px) {
  #userProfile {
    width: 100%;
  }
  #community-section {
    width: 100%;
  }
  #leftPart {
    padding: 10px;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-bottom: 0px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-top: 45px;
    top: 0;
  }
  #leftPart > #profRankDiv::before {
    display: none;
  }
  #leftPart > #profPicDiv::before {
    display: none;
  }
  #leftPart > #moreUserProf::before {
    display: none;
  }
  #leftPart > #profPicDiv {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    margin-right: 10px;
    height: auto;
    margin-top: 5px !important;
  }
  #leftPart > #profRankDiv {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    margin-right: 10px;
  }
  #leftPart > #moreUserProf {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 2;
    margin-bottom: 0px;
    margin-top: 5px;
  }
  #leftPart > #moreUserProf a {
    max-width: 200px;
  }
  #leftPart > .numbersDiv {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    margin-right: 10px;
    margin-bottom: 0;
  }
  #leftPart > .numbersDiv::before {
    display: none;
  }
  #leftPart > .succ-user {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 2;
  }
  #leftPart > .succ-user::before {
    display: none;
  }
  #leftPart > .standing-out {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    margin-right: 10px;
  }
  #leftPart > .standing-out::before {
    display: none;
  }
  #leftPart > .standing-out:last-child {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 0px;
    margin-bottom: 0;
  }
  #middlePart {
    padding: 0 5px 0 5px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  #middlePart #header-div {
    margin-top: 0;
  }
  #middlePart .mmPosts p {
    font-size: 13px;
  }
  #middlePart .mmPosts a {
    font-size: 12px;
  }
  #middlePart .tooltiptext {
    width: auto !important;
  }
  #rightPart {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    top: 0;
    padding: 0 5px 0 5px;
    margin-bottom: 0;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #rightPart .member-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    margin-right: 10px;
  }
  #rightPart .member-div::before {
    display: none;
  }
  #rightPart .numbersDiv {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 2;
  }
  #rightPart .numbersDiv.community-numbers-div {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    width: 300px;
  }
  #rightPart .numbersDiv::before {
    display: none;
  }
  #rightPart #succArticles {
    margin-right: 10px;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    margin-bottom: 10px;
  }
  #rightPart #succArticles::before {
    display: none;
  }
  #rightPart #recentArticles {
    margin-top: 0;
    margin-bottom: 10px;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 2;
  }
  #rightPart #recentArticles::before {
    display: none;
  }
  .mmPosts > .addCommentDiv {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
  .mmPosts > .addCommentDiv form > #comInputArea {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mmPosts > .single-comment-div {
    width: 100%;
  }
  .single-comment-div > .addCommentDiv {
    padding-left: 5px;
    padding-right: 5px;
    width: 95%;
  }
  .single-comment-div > .addCommentDiv form > #comInputArea {
    padding-left: 5px;
    padding-right: 5px;
  }
  #comRepReasonDiv {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #showPost {
    margin-top: 0.5vw;
  }
  #sectionB {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sectionB #logoDiv img {
    margin-top: 20px;
    margin-bottom: 10px;
    left: 0;
  }
  #sectionB #rightSideB form #errorParagraphL {
    margin-top: 0;
    text-align: center;
    margin-left: 0;
  }
  #sectionB #rightSideB button {
    margin: 5px;
    font-size: 14px;
  }
  #sectionB #aditionalB {
    width: 98%;
    padding: 10px;
    margin-top: 10px;
  }
  #sectionB #aditionalB h3 {
    font-size: 16px;
  }
  #userProfile {
    width: 100%;
    margin-top: 0px;
  }
  #community-section {
    width: 100%;
    margin-top: 0px;
  }
  #registerInfo {
    overflow-y: auto;
  }
}

@media only screen and (max-width: 1142px) and (min-width: 991px) {
  #createPostForm {
    margin-top: 80px !important;
  }
  #closeButtonP {
    top: 100px !important;
  }
  #showPost {
    margin-top: 55px;
  }
  #sectionB {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sectionB #rightSideB form #errorParagraphL {
    margin-top: 0;
    text-align: center;
    margin-left: 0;
  }
  #sectionB #aditionalB {
    margin-top: 10px;
  }
  #sectionB #aditionalB h3 {
    font-size: 22px;
  }
  #userProfile {
    margin-top: 80px;
  }
  #community-section {
    margin-top: 80px;
  }
  #unreadPosts {
    margin-top: 80px !important;
  }
}

@media only screen and (max-width: 480px) {
  #registerInfo {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    padding-bottom: 15px;
    border-radius: 2px !important;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #registerInfo .help-block {
    font-size: 11px;
  }
  #closeButton {
    right: 15px;
    top: -15px;
  }
  #rightSideB form #errorParagraphL {
    height: 20px;
  }
  #userProfile {
    width: 100%;
  }
  #community-section {
    width: 100%;
  }
  #leftPart {
    padding: 0 5px 0 5px;
    top: 0px;
    margin-top: 50px;
    margin-bottom: 10px;
    position: relative;
    height: 100%;
  }
  #leftPart #profRankDiv {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #leftPart #moreUserProf a {
    max-width: 200px;
  }
  #middlePart {
    padding: 0 5px 0 5px;
  }
  #middlePart #header-div {
    margin-top: 0;
  }
  #middlePart .mmPosts p {
    font-size: 13px;
  }
  #middlePart .mmPosts a {
    font-size: 12px;
  }
  #middlePart .tooltiptext {
    width: auto !important;
  }
  #rightPart {
    height: 100%;
    top: 0;
    padding: 0 5px 0 5px;
    margin-bottom: 0;
    position: relative;
  }
  .mmPosts > .addCommentDiv {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
  .mmPosts > .addCommentDiv form > #comInputArea {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mmPosts > .single-comment-div {
    width: 100%;
  }
  .single-comment-div > .addCommentDiv {
    padding-left: 5px;
    padding-right: 5px;
    width: 95%;
  }
  .single-comment-div > .addCommentDiv form > #comInputArea {
    padding-left: 5px;
    padding-right: 5px;
  }
  .div-on-top-content {
    width: 100% !important;
  }
  #comRepReasonDiv {
    width: 100%;
  }
}

@media only screen and (max-width: 526px) {
  #unreadPosts {
    width: 100vw;
  }
  #unreadPosts .onePostDiv {
    width: 95vw;
  }
}

@media only screen and (max-width: 773px) and (min-width: 526px) {
  #unreadPosts {
    width: 100vw;
  }
  #unreadPosts .onePostDiv {
    width: 46vw;
  }
}

@media only screen and (max-width: 991px) and (min-width: 767px) {
  #showPost {
    margin-top: 55px;
  }
  #sectionB {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sectionB #rightSideB {
    width: 100%;
    margin: 0;
  }
  #sectionB #rightSideB form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr 1fr;
        grid-template-columns: 2fr 2fr 1fr;
  }
  #sectionB #rightSideB form div:last-child {
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
  }
  #sectionB #rightSideB form #errorParagraphL {
    margin-top: 0;
    text-align: center;
    margin-left: 0;
    height: 20px;
  }
  #sectionB #rightSideB button {
    width: 120px;
  }
  #sectionB #aditionalB {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
  }
  #sectionB #aditionalB h3 {
    font-size: 20px;
  }
  #unreadPosts {
    margin-top: 90px !important;
  }
  #createPostForm {
    margin-top: 80px !important;
  }
  #closeButtonP {
    top: 100px !important;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  #registerInfo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #closeButton {
    right: 50px !important;
  }
  .onePostDiv {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .mce-div {
    width: 100%;
  }
  #showPost {
    width: 99vw;
  }
  #showPost .mainContainer {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  #registerInfo {
    margin-top: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 767px) {
  #credentials {
    max-width: 120px;
  }
}
/*# sourceMappingURL=mob-style.css.map */