@media only screen and (max-width: 991px) and (min-width: 480px) {
    #userProfile {
        width: 100%;
    }
    #community-section {
        width: 100%;
    }

    #leftPart {
        padding: 10px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0px;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        margin-top: 45px;
        top: 0;
        & > #profRankDiv::before {
            display: none;
        }
        & > #profPicDiv::before {
            display: none;
        }
        & > #moreUserProf::before {
            display: none;
        }
        & > #profPicDiv {
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 1;
            margin-right: 10px;

            height: auto;
            margin-top: 5px !important;
        }
        & > #profRankDiv {
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 1;
            margin-right: 10px;
        }
        & > #moreUserProf {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 2;
            margin-bottom: 0px;
            margin-top: 5px;
            & a {
                max-width: 200px;
            }
        }
        & > .numbersDiv {
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 1;
            margin-right: 10px;
            margin-bottom: 0;
            &::before {
                display: none;
            }
        }
        & > .succ-user {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 2;
            &::before {
                display: none;
            }
        }
        & > .standing-out {
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 1;
            margin-right: 10px;
            &::before {
                display: none;
            }
            &:last-child {
                grid-row-start: 4;
                grid-row-end: 4;
                grid-column-start: 1;
                grid-column-end: 3;
                margin-right: 0px;
                margin-bottom: 0;
            }
        }
    }
    #middlePart {
        padding: 0 5px 0 5px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        #header-div {
            margin-top: 0;
        }
        .mmPosts {
            & p {
                font-size: 13px;
            }
            & a {
                font-size: 12px;
            }
        }
        & .tooltiptext {
            width: auto !important;
        }
    }
    #rightPart {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        top: 0;
        padding: 0 5px 0 5px;
        margin-bottom: 0;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        & .member-div {
            display: flex;
            justify-content: center;
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 1;
            margin-right: 10px;
            &::before {
                display: none;
            }
        }
        & .numbersDiv {
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 2;
            grid-column-end: 2;
            &.community-numbers-div {
                justify-self: center;
                grid-column-start: 1;
                grid-column-end: 3;
                width: 300px;
            }
            &::before {
                display: none;
            }
        }
        & #succArticles {
            margin-right: 10px;
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 1;
            margin-bottom: 10px;
            &::before {
                display: none;
            }
        }
        & #recentArticles {
            margin-top: 0;
            margin-bottom: 10px;
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 2;
            &::before {
                display: none;
            }
        }
    }
    .mmPosts > .addCommentDiv {
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        & form > #comInputArea {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .mmPosts > .single-comment-div {
        width: 100%;
    }
    .single-comment-div > .addCommentDiv {
        padding-left: 5px;
        padding-right: 5px;
        width: 95%;
        & form > #comInputArea {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    #comRepReasonDiv {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    #showPost {
        margin-top: 0.5vw;
    }
    #sectionB {
        flex-direction: column;
        & #logoDiv {
            & img {
                margin-top: 20px;
                margin-bottom: 10px;
                left: 0;
            }
        }
        & #rightSideB {
            & form {
                & #errorParagraphL {
                    margin-top: 0;
                    text-align: center;
                    margin-left: 0;
                }
            }
            & button {
                margin: 5px;
                font-size: 14px;
            }
        }
        & #aditionalB {
            width: 98%;
            padding: 10px;
            margin-top: 10px;
            & h3 {
                font-size: 16px;
            }
        }
    }
    #userProfile {
        width: 100%;
        margin-top: 0px;
    }
    #community-section {
        width: 100%;
        margin-top: 0px;
    }
    #registerInfo {
        overflow-y: auto;
    }
}
@media only screen and (max-width: 1142px) and (min-width: 991px) {
    #createPostForm {
        margin-top: 80px !important;
    }
    #closeButtonP {
        top: 100px !important;
    }
    #showPost {
        margin-top: 55px;
    }
    #sectionB {
        flex-direction: column;
        & #rightSideB {
            & form {
                & #errorParagraphL {
                    margin-top: 0;
                    text-align: center;
                    margin-left: 0;
                }
            }
        }
        & #aditionalB {
            margin-top: 10px;
            & h3 {
                font-size: 22px;
            }
        }
    }
    #userProfile {
        margin-top: 80px;
    }
    #community-section {
        margin-top: 80px;
    }
    #unreadPosts {
        margin-top: 80px !important;
    }
}
@media only screen and (max-width: 480px) {
    #registerInfo {
        //padding: 0;
        padding-left: 15px;
        padding-right: 15px;
        height: 100%;
        padding-bottom: 15px;
        border-radius: 2px !important;
        margin-bottom: 10px;
        margin-top: 10px;
        .help-block {
            font-size: 11px;
        }
    }
    #closeButton {
        right: 15px;
        top: -15px;
    }
    & #rightSideB {
        & form {
            & #errorParagraphL {
                height: 20px;
            }
        }
    }
    #userProfile {
        width: 100%;
    }
    #community-section {
        width: 100%;
    }
    #leftPart {
        padding: 0 5px 0 5px;
        top: 0px;
        margin-top: 50px;
        margin-bottom: 10px;
        position: relative;
        height: 100%;
        & #profRankDiv {
            align-self: center;
        }
        & #moreUserProf {
            & a {
                max-width: 200px;
            }
        }
    }
    #middlePart {
        padding: 0 5px 0 5px;
        #header-div {
            margin-top: 0;
        }
        .mmPosts {
            & p {
                font-size: 13px;
            }
            & a {
                font-size: 12px;
            }
        }
        & .tooltiptext {
            width: auto !important;
        }
    }
    #rightPart {
        height: 100%;
        top: 0;
        padding: 0 5px 0 5px;
        margin-bottom: 0;
        position: relative;
    }
    .mmPosts > .addCommentDiv {
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        & form > #comInputArea {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .mmPosts > .single-comment-div {
        width: 100%;
    }
    .single-comment-div > .addCommentDiv {
        padding-left: 5px;
        padding-right: 5px;
        width: 95%;
        & form > #comInputArea {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .div-on-top-content {
        width: 100% !important;
    }
    #comRepReasonDiv {
        width: 100%;
    }
}
@media only screen and(max-width:526px) {
    #unreadPosts {
        width: 100vw;
        & .onePostDiv {
            width: 95vw;
        }
    }
}
@media only screen and(max-width:773px) and (min-width: 526px) {
    #unreadPosts {
        width: 100vw;
        & .onePostDiv {
            width: 46vw;
        }
    }
}
@media only screen and (max-width: 991px) and (min-width: 767px) {
    #showPost {
        margin-top: 55px;
    }
    #sectionB {
        flex-direction: column;
        & #rightSideB {
            width: 100%;
            margin: 0;
            & form {
                display: grid;
                grid-template-columns: 2fr 2fr 1fr;
                & div {
                    &:last-child {
                        flex-grow: 5;
                        grid-column-start: 1;
                        grid-column-end: 5;
                        grid-row-start: 2;
                        grid-row-end: 2;
                    }
                }
                & #errorParagraphL {
                    margin-top: 0;
                    text-align: center;
                    margin-left: 0;
                    height: 20px;
                }
            }
            & button {
                width: 120px;
            }
        }
        & #aditionalB {
            width: 50%;
            padding: 10px;
            margin-top: 10px;
            & h3 {
                font-size: 20px;
            }
        }
    }
    #unreadPosts {
        margin-top: 90px !important;
    }
    #createPostForm {
        margin-top: 80px !important;
    }
    #closeButtonP {
        top: 100px !important;
    }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
    & #registerInfo {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    & #closeButton {
        right: 50px !important;
    }

    .onePostDiv {
        width: 50%;
    }
}
@media only screen and (max-width: 1024px) {
    .mce-div {
        width: 100%;
    }
    #showPost {
        width: 99vw;

        & .mainContainer {
            width: 100%;
        }
    }
}
@media only screen and (max-height: 480px) {
    #registerInfo {
        margin-top: 10px;
        overflow-y: auto;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 767px) {
    #credentials {
        max-width: 120px;
    }
}
