@import "../utilities/mixins";

nav img {
  margin-top: -10px;
}
#createPostSection {
  @include postSection;
}
#showAllPosts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 1024px;

  & #unreadPosts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1024px;
    margin-top: 60px;
    background-color: rgba(208, 214, 232, 0.4);
    & #sectionTitle {
      flex: 0 0 100%;
    }
  }
  & #readPosts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1024px;
    margin-top: 10px;
    background-color: rgba(12, 128, 236, 0.9);
  }
  & .onePostDiv {
    display: flex;
    flex-direction: column;
    align-self: center;
    background: #fff;
    margin: 5px;
    width: 240px;
    height: 300px;
    box-shadow: 4px 2px 4px 0 rgba(73, 73, 73, 0.6);
    border-radius: 0 0px 20px 20px;

    & .postTitleClass {
      width: 100%;
      background-color: $postTitles;
      box-shadow: 0px 2px 4px -1px $postShadows;
      margin: 0 0 5px 0;
      padding: 8px;
      border-radius: 0 0px 0 0;
      font-size: 16px;
      height: auto;
      max-height: 50px;
      &.SeenPost {
        background-color: rgba(12, 128, 236, 0.9);
      }
    }
    & .contentDiv {
      align-self: flex-start;
      overflow: hidden;
      align-self: flex-start;
      text-overflow: ellipsis;
      max-height: 175px;
      & .postTextClass {
        width: auto;
        margin: 0;
        margin-top: 5px;
        text-overflow: ellipsis;
        font-size: 12px;
        text-align: justify;
      }
      & img {
        float: left;
        margin: 10px 10px 0 0;
        max-width: 120px;
        max-height: 110px;
      }
    }
    & .createdByClass {
      box-shadow: 0px -2px 4px -1px $postShadows;
      margin-top: auto;
      height: 45px;
      align-items: flex-end;
      & h5 {
        margin: 0;
        display: inline-block;
        width: 100%;
        font-size: 12px;
      }
    }
    & i {
      margin: 5px;
    }
    & .timeCreatedClass {
      box-shadow: 0px -2px 4px -1px $postShadows;
      border-radius: 0 0 20px 20px;
      width: 100%;
      margin: 0;
      padding: 2.5px;
      height: 20px;
      align-self: flex-end;
      font-size: 12px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
