#showPost {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    overflow: hidden;
    max-width: 1024px;
    align-self: center;
    .mainContainer {
        border: 4px double $postShadows;
        border-radius: 6px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 1024px;
        background-color: #fff;
        min-height: auto;
        padding: 0;
        align-self: center;
        & h3 {
            font-style: italic;
        }
        & .divMainContent {
            width: auto;
            & .postPictureClass {
                max-width: 100%;
                margin: 10px 10px 0 0;
                box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
            }
            & .postTextClass {
                margin: 0;
                margin-top: 5px;
                font-size: 14px;
                text-align: justify;
            }
        }
        & i {
            font-size: 18px;
        }
        & .timePeriods {
            align-self: center;
            height: 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            & .editedClass {
                padding-left: 10px;
                margin-top: 5px;
            }
            & .timeEditedClass {
                font-size: 13px;
                margin: 5px;
            }
            & .timeCreatedClass {
                font-size: 13px;
                margin-top: 5px;
                padding-right: 10px;
                margin-left: auto;
                align-self: flex-end;
            }
        }
        & .createdByMain {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            & h4 {
                justify-self: left;
            }
            & .btn-group {
                padding-top: 10px;
                justify-self: end;
                @include normal-style-button;
                & button {
                    &:first-child {
                        margin-left: auto;
                    }
                }
            }
        }
        .likes {
            margin: 0;
            padding: 5px;
            display: flex;
            flex-direction: row;
            & i {
                align-self: center;
                margin: 2px;
                margin-right: 10px;
                &:first-child {
                    margin-left: auto;
                    transition-duration: 0.2s all;
                }
                &:last-child {
                    margin-right: auto;
                }
            }
            & span {
                @include tooltiptext;
            }
        }
    }
    & #divOnTop {
        @include postSection;
    }
    @include normal-style-button;
}
.addCommentDiv {
    box-shadow: inset 0px 1px 5px -2px $postShadows, 0px 4px 3px -2px $postShadows;
    height: 30px; 
    background-color: #fff;
    align-self: center;
    padding: 0;
    z-index: 1;
    @include commentFormFormat;
    transition: 0.45s ease-in-out;
    margin-bottom: 3px;
}

.likedClass {
    transition-duration: 0.2s;
    color: #639a67;
}
.dislikedClass {
    transition-duration: 0.2s;
    color: #da2d2d;
}
