#userProfile {
    background-color: #fff;
    margin-top: 40px;
    align-self: center;
    max-width: 1024px;
    padding: 0;
    min-height: 90vh;
    border: 4px double $postShadows;
    border-radius: 8px;
    display: none;
    opacity: 0;
    animation: slide-in-fwd-center 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#leftPart {
    box-sizing: border-box;
    top: 50px;
    position: sticky;
    padding-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    height: 92vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

    & #profPicDiv {
        display: flex;
        flex-direction: column;
        margin-top: 0 !important;
        padding: 0 10px 10px 10px;
        @include nail-hanger;
        @include content-boxes;
        overflow: hidden;
        min-height: 220px;
        & img {
            align-self: center;
            max-width: 200px;
            height: 200px;
            margin-top: 10px;
            box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
            overflow: hidden;
            object-fit: cover;
            z-index: 1;
            &:hover{
                cursor: pointer;
            }
        }
        & .btn-group {
            margin-top: 170px;
            align-self: center;
            position: absolute;
            z-index: 2;
            & button {
                padding: 3px;
                width: 100px;
            }
        }
    }
    & #profRankDiv {
        display: inline-flex;
        flex-direction: column;
        @include content-boxes;
        margin-top: 15px;
        @include nail-hanger;
        & #rank {
            border-radius: 6px;
            align-self: center;
        }
    }
    & #moreUserProf {
        @include content-boxes;
        display: flex;
        flex-direction: column;
        padding: 0px 10px 0 15px;
        margin-bottom: 15px;
        flex-wrap: wrap;
        &:hover{
            cursor: pointer;
        }
        & .btn-group {
            display: flex;
            padding: 0 10px 5px 10px;
            flex-direction: row;
            justify-content: center;
        }
        & label {
            text-align: left;
            &:first-child {
                margin-top: 10px;
            }
        }
        & p {
            text-align: left;
        }
        & a {
            width: 100%;
            box-sizing: border-box;
            align-self: flex-start;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #000;
            font-style: italic;
            &:hover {
                color: $normalStyleButton;
                text-decoration: none;
            }
        }
        & input {
            padding: 3.2px;
            border: none;
            border-bottom: 1px solid;
            &#editLi {
                margin-bottom: 5px;
            }
        }
    }
}
#middlePart {
    display: flex;
    flex-direction: column;
    padding: 0;
    & #header-div {
        @include content-boxes;
        padding: 0 10px 10px 10px;
        max-height: 480px;
        display: flex;
        flex-direction: column;
        & h3 {
            text-align: left;
            margin-bottom: 0;
        }
        & h5 {
            text-align: left;
            margin-top: 5px;
        }
        & p {
            font-size: 13px;
            font-style: italic;
            text-align: justify;
            margin: 0;
            &:hover{
                cursor: pointer;
            }
        }
        & button {
            align-self: flex-end;
        }
        & textarea {
            margin-bottom: 10px;
            resize: none;
            border: none;
            height: 90px;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 5px 10px 5px 10px;
        }
        & .pers-line-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & p {
                margin: 0;
            }
        }
    }
    & .no-mmp-parag {
        @include content-boxes;
        text-align: center;
        padding: 0px 10px 5px 10px;
        line-height: 35px;
        align-self: center;
        width: inherit;
    }
    & #divOnTop {
        @include mm-post-section;
        & .div-on-top-content {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            width: 500px;
            padding: 0px 10px 10px 10px;
            @include content-boxes;
            & img {
                width: 98%;
                align-self: center;
            }
            & .chk-div {
                & input {
                    margin: 13.5px 10px 0 10px;
                    float: left;
                }
                & label {
                    width: 430px;
                    font-weight: 200;
                    font-size: 14px;
                }
            }
        }
        & #editMMDiv {
            display: flex;
            flex-direction: column;
            & #mmPostTxt {
                width: 100%;
                resize: none;
                height: 100px;
                margin-bottom: 5px;
            }
            & .btn-group {
                display: flex;
                margin-bottom: 10px;
                & button {
                    align-self: flex-end;
                    &:first-child {
                        height: 34px;
                        font-size: 18px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                    }
                }
                & input {
                    text-align: left;
                    float: left;
                    width: 0;
                    opacity: 0;
                    padding: 0;
                }
                & #mmLabel {
                    text-align: left;
                    padding: 0;
                    opacity: 0;
                    margin-bottom: 0;
                    line-height: inherit;
                    width: 0;
                    height: 34px;
                    cursor: pointer;
                }
            }
        }
        & #errorParag {
            position: absolute;
            margin-top: 115px;
            margin-left: 5px;
        }
    }
    & #create-content-div {
        display: flex;
        flex-direction: column;
        @include content-boxes;
        padding: 0px 15px 0px 15px;
        & h3 {
            text-align: left;
            margin-top: 5px;
            font-size: 20px;
        }
        & p {
            margin-top: 20px;
        }
        & #createMMDiv {
            display: flex;
            flex-direction: column;
            & #mmPostTxt {
                width: 100%;
                resize: none;
                height: 100px;
                margin-bottom: 5px;
            }
            & .btn-group {
                display: flex;
                margin-bottom: 10px;
                & button {
                    align-self: flex-end;
                    &:first-child {
                        height: 34px;
                        font-size: 18px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                    }
                }
                & input {
                    text-align: left;
                    float: left;
                    width: 0;
                    opacity: 0;
                    padding: 0;
                }
                & #mmLabel {
                    text-align: left;
                    padding: 0;
                    opacity: 0;
                    margin-bottom: 0;
                    line-height: inherit;
                    width: 0;
                    height: 34px;
                    cursor: pointer;
                }
            }
        }
        & #errorParag {
            position: absolute;
            margin-top: 115px;
            margin-left: 5px;
        }
    }
    & .content-div {
        padding: 0;
        transition: height 5s, transform 2s;
        transition-timing-function: linear;
        & .mmPosts {
            display: flex;
            flex-direction: column;
            border: 3px double $postShadows;
            border-radius: 5px;
            margin-top: 10px;
            padding: 0;
            box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
            
            & img {
                width: inherit;
                margin-bottom: 5px;
                padding: 2px;
            }
            & video {
                box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.25);
                width: inherit;
                margin-bottom: 5px;
                padding: 2px;
            }
            & p {
                text-align: left;
                padding-left: 10px;
                margin-bottom: 5px;
            }
            & .singlePostHeader {
                padding: 0;
                position: relative;
                float: none;
                height: 30px;
                box-shadow: 0px 1px 4px 0px $postShadows;
                & img {
                    padding: 5px;
                    height: 30px;
                    width: auto;
                    border-radius: 0;
                    float: left;
                }
                & p {
                    float: left;
                    margin: 5px 10px 5px 0;
                    padding: 0;
                }
                & .timeCreated {
                    float: right;
                    font-size: 13px;
                }
            }
            & .post-text-content {
                margin: 8px 0 8px 0;
                position: relative;
            }
            & .singlePostFooter {
                margin: 2px;
                padding: 0;
                display: grid;
                height: 20px;
                grid-template-columns: 2fr 2fr 2fr;
                & p {
                    font-size: 12px;
                    margin: 0;
                    padding: 0;
                    padding-left: 5px;
                }
                & .likes-div {
                    justify-self: end;
                    & i {
                        margin-right: 10px;
                        font-size: 15px;
                    }
                    & span {
                        @include tooltiptext;
                        left: 89%;
                    }
                }
                & .btn-group {
                    justify-self: center;
                    @include normal-style-button;
                }
            }
            &:last-child {
                margin-bottom: 15px;
            }
            & hr {
                width: 100%;
                border: 1px solid;
                margin: 0;
            }
        }
    }
}
#rightPart {
    box-sizing: border-box;
    top: 50px;
    position: sticky;
    padding-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    height: 92vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
    & h4 {
        font-size: 16px;
        text-align: center;
        margin-top: 15px;
    }
    & #numbersDiv {
        @include content-boxes;
        text-align: center;
        margin-top: 0;
        & label {
            display: block;
            margin: 0;
            &:first-child {
                margin-top: 10px;
            }
        }
        & p {
            display: inline-block;
            padding: 3px 12px 3px 12px;
            margin: 5px;
            border: 1px solid $postShadows;
            min-width: 60px;
            border-radius: 6px;
            box-shadow: inset 0px 0px 5px 1px $postShadows;
        }
    }
    & .member-div {
        @include content-boxes;
        @include nail-hanger;
        margin-top: 0px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        min-height: 57px;
        & p {
            margin-top: 15px;
            margin-bottom: 15px;
            padding-left: 10px;
            text-align: center;
        }
        & button {
            align-self: center;
            opacity: 0;
            margin: 9px;
            border-radius: 6px;
            padding: 5px 11px 5px 11px;
            z-index: 2;
        }
        &:hover{
            cursor: pointer;
        }
    }
    & .pw-input-div {
        @include content-boxes;
        @include nail-hanger;
        margin-top: 0px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        padding: 0 10px 10x 10px !important;
        & input {
            margin: 10px;
            width: inherit;
        }
        & .btn-group {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
        & p {
            margin-top: 10px;
            margin-bottom: 0;
            padding: 0 10px 0 10px;
            text-align: center;
            font-style: italic;
        }
    }
    & #succArticles {
        @include content-boxes;
        padding-left: 5px;
        padding-right: 5px;
        & ul {
            padding-left: 20px;
            & meter {
                width: 180px;
            }
        }
        & p {
            text-align: center;
        }
        & a {
            color: #000;
            &:hover {
                color: $normalStyleButton;
                text-decoration: none;
            }
        }
    }
    & #recentArticles {
        @include content-boxes;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 15px;
        & ul {
            padding-left: 20px;
        }
        & p {
            font-style: italic;
        }
        & a {
            color: #000;
            &:hover {
                color: $normalStyleButton;
                text-decoration: none;
            }
        }
    }
}

.single-comment-div {
    //box-shadow: inset 0px 3px 5px -2px $postShadows;
    //height: 30px; //bilo 200
    background-color: rgba(153, 153, 153, 0.2);
    align-self: center;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-bottom: 5px !important;
    @include commentFormFormat;
    & .mainComment {
        box-shadow: 0px 2px 4px 0px $postShadows;
        //padding: 0 0 3px 0;
        background-color: #fff;
        width: 95%;
        align-self: flex-end;

        & .comLeftPart {
            padding: 0;
            height: 100%;
            & img {
                width: auto !important;
                padding: 0;
                max-width: 30px;
                max-height: 30px;
                margin-top: 5px;
            }
        }
        & .comRightPart {
            padding: 0;
            & .whoAndWhen {
                padding: 8px 10px 0 10px;
                display: flex;
                flex-direction: row;
                box-shadow: 0px 3px 3px -2px $postShadows;
                & h5 {
                    align-self: flex-start;
                    line-height: 14px;
                    padding: 0;
                    margin: 0;
                    font-size: 13px;
                    display: inline-block;
                }
                & a {
                    color: #000;
                    &:hover {
                        text-decoration: none;
                        color: $normalStyleButton;
                    }
                }
                & p {
                    align-self: flex-end;
                    line-height: 14px;
                    margin: 0;
                    margin-left: auto;
                    display: inline-block;
                    font-size: 13px;
                }
            }
            & .comBody {
                padding: 0 5px 5px 5px;
                min-height: 50px;
                & p {
                    text-align: left;
                    padding: 5px 5px 5px 5px;
                }
                & textarea {
                    resize: none;
                    height: 32px;
                    width: 98%;
                    margin: 5px;
                    padding: 5px;
                    overflow: hidden;
                }
                @include normal-style-button;
            }
        }
        & .comFooter {
            padding: 0;
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            height: 25px;
            //box-shadow: 0px -5px 10px -2px $postShadows;
            & p {
                margin: 0 !important;
                padding: 4px !important;
                padding-left: 6px !important;
                font-size: 12px;
                font-style: italic;
            }
            @include normal-style-button;
            & .btn-group {
                justify-self: center;
            }
            & .likesDiv {
                justify-self: end;
                & i {
                    margin-right: 10px;
                    font-size: 15px;
                }

                & span {
                    @include tooltiptext;
                    left: 90%;
                }
            }
        }
    }
    & .add-sub-comment {
        align-self: flex-end;
        width: 95%;
    }
    & .single-comment-div {
        background-color: rgba(153, 153, 153, 0.2);
        align-self: flex-end;
        //padding: 0 !important;
        display: flex;
        flex-direction: column;
        width: 95%;
        padding-bottom: 5px !important;
        & .mainComment {
            box-shadow: 0px 2px 4px 0px $postShadows;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    #comRepReasonDiv {
        width: 95%;
    }
}
