#comRepReasonDiv {
    padding: 0;
    align-self: flex-end;
    width: inherit;
    box-shadow: 0px 2px 4px 1px $postShadows;
    z-index: 1;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    & form {
        display: flex;
        flex-direction: column;
        & .btn-group {
            padding: 5px;
        }
    }
    & div {
        padding: 0;
    }
    & input {
        margin: 5px;
        &#reportLabel5{
            width: 88%;
            display: inline-block;
            height: 30px;
        }
    }
    @include normal-style-button;
    & button {
        margin-top: 5px;
    }
    & p {
        text-align: center!important;
        margin: 10px;
    }
    & label{
        font-weight: 200;
    }
}
#divOnTop {
    @include mm-post-section;
    & .div-on-top-content {
        display: flex;
        flex-direction: column;
        background-color: $bgColor;
        width: 500px;
        padding: 0px 10px 10px 10px;
        @include content-boxes;
        & img {
            width: 98%;
            align-self: center;
        }
        & .chk-div {
            & input {
                margin: 13.5px 10px 0 10px;
                float: left;
            }
            & label {
                width: 430px;
                font-weight: 200;
                font-size: 14px;
            }
        }
    }
    & #editMMDiv {
        display: flex;
        flex-direction: column;
        & #mmPostTxt {
            width: 100%;
            resize: none;
            height: 100px;
            margin-bottom: 5px;
        }
        & .btn-group {
            display: flex;
            margin-bottom: 10px;
            & button {
                align-self: flex-end;
                &:first-child {
                    height: 34px;
                    font-size: 18px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                }
            }
            & input {
                text-align: left;
                float: left;
                width: 0;
                opacity: 0;
                padding: 0;
            }
            & #mmLabel {
                text-align: left;
                padding: 0;
                opacity: 0;
                margin-bottom: 0;
                line-height: inherit;
                width: 0;
                height: 34px;
                cursor: pointer;
            }
        }
    }
    & #errorParag {
        position: absolute;
        margin-top: 115px;
        margin-left: 5px;
    }
}
