.hamburger-dropdown {
    @include normal-style-button;
    margin: 3px;
    & button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    & .dropdown-menu {
        display: none;
        min-width: 100px;
        text-align: center;
        right: -4px;
        left: -70px;
        justify-content: center;
    }
}
.whoAndWhen > .hamburger-dropdown {
    margin: 0;
    margin-top: 6px;
    padding: 0;
    z-index: 2;
}
