.hamburger-dropdown {
    @include normal-style-button;
    margin:3px;
    & button{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    & .dropdown-menu{
        display: none;
        min-width: 100px;
        text-align: center;
        right: -4px;
        left: -50px;
        justify-content: center;
    }
}
