.slide-in-top {
    animation: slide-in-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
        z-index: -99;
    }
    75%{
        opacity: 0;
        z-index: -2;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        z-index: 0;
    }
}

.slide-in-fwd-center {
    animation: slide-in-fwd-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-fwd-center {
    0% {
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes ripple {
    0% {
        transform: translate3d(-50%, 50%, 0) scale(0);
        opacity: 0.33;
    }
    100% {
        transform: translate3d(-50%, 50%, 0) scale(500);
        opacity: 0;
    }
}
.ripple-1,
.ripple-2,
.ripple-3,
.ripple-4,
.ripple-5 {
    height: 1px;
    width: 1px;
    //position: absolute;
    left: 0;
    bottom: 0;
    background-color: $postShadows;
    border-radius: 50%;
    transform: translate3d(-50%, 50%, 0);
    animation-name: ripple;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    will-change: transform, opacity;
}

.flip-in-hor-bottom {
	animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes flip-in-hor-bottom {
    0% {
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}
