@mixin floatingDiv {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(160, 160, 160, 0.7);
  animation: zoom 0.2s linear;
}

@mixin closeButton {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  &:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    transform: scale3d(1.4, 1.4, 1.4) translate3d(-5px, 5px, 0) rotate(1080deg);
  }
  &:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}

@mixin postSection {
  @include floatingDiv;
  & #closeButton {
    @include closeButton;
    top: 45px;
  }
  & #createPostForm {
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: $formBackground;
    max-width: 600px;
    width: auto;
    overflow-y: auto;
    & label {
      margin-top: 20px;
      &#fileuploadLabel {
        display: block;
        text-align: left;
        margin-top: 0;
      }
    }
    & input {
      border-radius: 7px;
    }
    & #uploadDiv {
      display: flex !important;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 20px;
      padding-right: 0;
      display: inline-block;
    }
    & #picDiv {
      padding: 20px;
      display: inline-block;
      min-height: 150px;
    }
    & img {
      max-width: 200px;
      height: auto;
      max-height: 200px;
      margin: 0;
      padding: 0;
      border: 2px 2px solid #fff;
      box-shadow: 5px 5px rgba(160, 160, 160, 0.5);
    }
    & textarea {
      border-radius: 7px;
      max-width: 540px !important;
      min-width: 540px !important;
      max-height: 250px;
      min-height: 120px;
      overflow-y: scroll;
    }
    & button {
      width: 100px;
      font-size: 15px;
      border-radius: 7px;
      &#removeImgButton {
        margin-top: 10px;
        font-size: 14px;
        border-radius: 6px;
      }
    }
  }
}
@mixin commentFormFormat {
  & form {
    padding: 15px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    & .labelDiv {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      cursor: pointer;
    }
    & #comInputArea {
      opacity: 0;
      & textarea {
        width: 100%;
        resize: none;
        height: 100px;
        overflow-y: auto;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    & .commentButtonDiv {
      margin: 0 10px 0 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      & button {
        margin-top: 10px;
        margin-left: 15px;
      }
    }
  }
}
