//Background color for register and create post bg
$formBackground: rgba(255, 255, 255, 0.8);
//Section titles on home page
$sectionTitles: #fff;
//Individual post Titles
$postTitles: rgba(189, 189, 189, 0.6);
//Post shadows:
$postShadows:rgba(95, 131, 165, 0.75);
//Normal style button hover color:
$normalStyleButton :rgb(89, 137, 209);